<style>
  table {
    border-collapse: separate;
    border-spacing: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid red;
  }

  th,h6,h5,h2,
  td {
    padding: 5px;
    text-align: center;
  }
</style>

<section class="card">
  <div class="card-body">
   
    <p>
      <h2>Đề tài: Xây dựng web NODEJS tạo ghi chú công việc</h2>
      <h6>GVHD: Ths.Nguyễn Minh Đạo</h6>
      <h5>DANH SÁCH THÀNH VIÊN NHÓM:</h5>
      <table>
        <tr>
          <th>MSSV</th>
          <th>Họ tên</th>
          <th>Tỉ lệ hoàn thành (%)</th>
        </tr>
        <tr>
          <td>20110099</td>
          <td>Đặng Mai Hương</td>
          <td>100%</td>
        </tr>
        <tr>
          <td>20110473</td>
          <td>Nguyễn Thị Thu Hằng</td>
          <td>100%</td>
        </tr>
        <tr>
          <td>20110541</td>
          <td>Ngô Thanh Phú</td>
          <td>100%</td>
        </tr>
      </table>
    </p>
  </div>
</section>
